*{
    padding: 0px;
    margin:0px;
}

main{
    width: 60%;
    margin-left:20px;
}

header{
    background-color:gold;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
article ul{
    width: 90%; 
    /* 60% > 70% */
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    list-style: none;
}
article li{
    height: 50px;
    border: 1px dotted gray;
    /* the following two lines must go together */
    display: flex;
    align-items: center;
    padding-left: 20px;
}

article li:hover{
    background-color: salmon;
    color: aliceblue;
}

article a{
    text-decoration: none;
}



section h1{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
section div{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 1px solid salmon;
    padding: 20px;
    margin: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}